{
  "query": {
    "bool": {
      "filter": {
        "match": {
          "ids": {
            "query": "{{ .Data }}"
          }
        }
      }
    }
  }

  {{ if (gt $.Size 0) }}
  ,
  {{ end }}
  {{ if (gt $.From 0) }}
  "from": {{.From}}
  {{ end }}
  {{ if (gt $.Size 0) }}
  ,
  {{ end }}
  {{ if (gt $.Size 0) }}
  "size": {{.Size}}
  {{ end }}
}