{
  "query": {
    "bool": {
      "must": {
        "term": {
          {{ range $key, $value := .Data }}
             "{{ $key }}": "{{ $value }}"
             {{ if (gt (len $.Data) 1) }}
                 ,
             {{ end }}
          {{ end }}
        }
      }
    }
  }
}